{% extends "reactive_example_base.html" %}

{% load reactive %}

{% block title %}Basic Example{% endblock %}

{% block content %}

{% reactprescript %}

{% with test_template_var="success" %}

{% reactblock %}
{% reactblock %}
Test1
{% reactdef text_dsadf test_template_var %}
{% reactdef test_var 'test' %}
{% reactdef test_array ['str1','str2','str3'] %}
<script>
{% reactset test_var %}
{% reactget test_var %} + '11'
{% endreactset %}
</script>
Test2
{% reacttag span %}
{% reactdef nested_var 'nested' %}
{% for element in example_list %}
{{ element }}
{% reactprint test_var %}
{% endfor %}
{% reactprint 'Test3' %}
{% reactprint nested_var %}
{% endreacttag %}

{% reactdef test_bool True %}
{% reactprint test_bool %}

{% reacttag span %}
{% reactif test_bool %}
Test4
{% reactprint test_var %}
{% endreactif %}
{% endreacttag %}

{% if True %}
{% reacttag span %}
{% reactprint test_array %}

{% reactfor element in test_array %}
{% reactdef element2 2 %}
{% reactdef element3 element %}
{% reactprint element2 %}
{% reactprint element3 %}
{% endreactfor %}

{% endreacttag %}
{% endif %}

{% comment %}
Comment test
{% endcomment %}

<script>
{% reactscript %}
console.log({% reactget test_var %});
{% endreactscript %}

setTimeout(
    function() {
    {% reactset test_var %}
    "hey"
    {% endreactset %}

    setTimeout(
        function() {
        {% reactset test_bool %}
        false
        {% endreactset %}
        }, 2000);
    }, 2000);

setTimeout(
    function() {
    {% reactset test_array %}
    ['str1', 'str2']
    {% endreactset %}
    }, 1000);
</script>

<section>
Fixed array:
<ul>
{% for elemen in example_list %}
<li>
value: {{ elemen }}
</li>
{% endfor %}
</ul>
</section>

{% reacttag section %}
Dynamic array:
<ul>
{% reactfor element in test_array %}
<li>
value: {% reactprint element %}
</li>
{% endreactfor %}
</ul>
{% endreacttag %}

{% reacttag section %}
Even None is supported:
{% reactdef test_none None %}
{% reactdef test_null null %}
<ul>
<li>{% reactprint test_none %}</li>
<li>{% reactprint test_null %}</li>
</ul>
{% endreacttag %}

{% reactdef number 3 %}
{% reactdef greeting 'Hi' %}

{% reacttag p %}
You may also use plus operator:<br />
2+{% reactprint number %}={% reactprint 2+number %}<br />
"{% reactprint greeting %}"+" "+"World"={% reactprint greeting+" "+"World" %}
{% endreacttag %}
<script>
setTimeout(
    function() {
    {% reactset number %}{% reactget 4 %}{% endreactset %}
    
    setTimeout(
        function() {
        {% reactset greeting %}'Hello'{% endreactset %}
        }, 500);
    }, 1000);
</script>

{% reactdef test_json {v1:'2','v7':'3',nested:{A:1,B:2},arr:[{a:1,b:2},{c:3}]} %}

{% reacttag section %}
You can also use JSON/dictionary values:
<p>
{% reactprint test_json %}
</p>
{% endreacttag %}

<script>
setTimeout(
    function() {
    {% reactget test_json %}.v10 = 5

    {% reactset test_json %}
    {% reactget test_json %}
    {% endreactset %}
    
    setTimeout(
        function() {
        {% reactset test_json.v7 %}4{% endreactset %}
        }, 1000);
    }, 1200);
</script>


{% reactdef people [{first:'John',last:'Smith',age:40},{first:'Kristen',last:'Perkins',age:27}] %}

{% reacttag section %}
You may even render a table using an array of dictionary:
<table>
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Age</th>
</tr>
{% reactfor person in people %}
<tr>
<td>{% reactprint person.first %}</td>
<td>{% reactprint person.last %}</td>
<td>{% reactprint person.age %}</td>
</tr>
{% endreactfor %}
</table>
{% endreacttag %}

<script>
setTimeout(
    function() {
    {% reactget people %}.push({first:'Marc',last:'Mcdowell',age:58})

    {% reactset people %}
    {% reactget people %}
    {% endreactset %}
    }, 1500);
</script>

{% reacttag section %}
You can have a tag inside another tag:
Test var array is: {% reactprint test_array %}
{% reacttag div %}
Test var value is: {% reactprint test_var %}
{% endreacttag %}
{% endreacttag %}


{% reactdef nested_array [[1,2,3],[11,12,13],[21,22,23]] %}

{% reacttag p %}
And also a for inside another for loop:

<ul>
{% reactfor array in nested_array %}
<li>
The {% reactprint array %} is listed:
<ul>
{% reactfor element in array %}
<li>
{% reactprint element %}
</li>
{% endreactfor %}
</ul>
</li>
{% endreactfor %}
</ul>
{% endreacttag %}

<script>
setTimeout(
    function() {
    {% reactset nested_array %}
    [[1,2,3,4],[11,12,13,14],[21,22,23,24],[31,32,33,34]]
    {% endreactset %}
    }, 1500);
</script>

{% endreactblock %}
{% endreactblock %}

{% endwith %}

{% endblock %}