{% extends "reactive_example_base.html" %}

{% load reactive %}

{% block title %}Basic Example{% endblock %}

{% block content %}

{% with test_template_var="success" %}

{% #block %}
{% #block %}
Test1
{% #/def text_dsadf test_template_var %}
{% #/def test_var 'test' %}
{% #/def test_array ['str1', 'str2', 'str3'] %}
<script>
{% #set test_var %}
{% #/get test_var %} + '11'
{% /set %}
</script>
Test2
{% #tag span %}
{% #/def nested_var 'nested' %}
{% for element in example_list %}
{{ element }}
{% #/print test_var %}
{% endfor %}
{% #/print 'Test3' %}
{% #/print nested_var %}
{% /tag %}

{% #/def test_bool True %}
{% #/print test_bool %}

{% #tag span %}
{% #if test_bool %}
Test4
{% #/print test_var %}
{% /if %}
{% /tag %}

{% if True %}
{% #tag span %}
{% #/print test_array %}

{% #for element in test_array %}
{% #/def element2 2 %}
{% #/def element3 element %}
{% #/print element2 %}
{% #/print element3 %}
{% /for %}

{% /tag %}
{% endif %}

{% comment %}
Comment test
{% endcomment %}

<script>
{%#redo%}
console.log({% #/get test_var %});
{%/redo%}

setTimeout(
    function() {
    {% #set test_var %}
    "hey"
    {% /set %}

    setTimeout(
        function() {
        {% #set test_bool %}
        false
        {% /set %}
        }, 2000);
    }, 2000);

setTimeout(
    function() {
    {% #set test_array %}
    ['str1', 'str2']
    {% /set %}
    }, 1000);
</script>

<section>
Fixed array:
<ul>
{% for elemen in example_list %}
<li>
value: {{ elemen }}
</li>
{% endfor %}
</ul>
</section>

{% #tag section %}
Dynamic array:
<ul>
{% #for element in test_array %}
<li>
value: {% #/print element %}
</li>
{% /for %}
</ul>
{% /tag %}

{% #tag section %}
Even None is supported:
{% #/def  test_none  None %}
{% #/def test_null null %}
<ul>
<li>{% #/print test_none %}</li>
<li>{% #/print test_null %}</li>
</ul>
{% /tag %}

{% #/def number 3 %}
{% #/def greeting 'Hi' %}

{% #tag p %}
You may also use plus operator:<br />
2+{% #/print number %}={% #/print 2+number %}<br />
"{% #/print greeting %}"+" "+"World"={% #/print greeting+" "+"World" %}
{% /tag %}
<script>
setTimeout(
    function() {
    {% #set number %}{% #/get 4 %}{% /set %}
    
    setTimeout(
        function() {
        {% #set greeting %}'Hello'{% /set %}
        }, 500);
    }, 1000);
</script>

{% #/def test_json {v1: '2', 'v7': '3', nested: {A: 1, B: 2}, arr: [{a:1, b:2}, {c: 3}]} %}

{% #tag section %}
You can also use JSON/dictionary values:
<p>
{% #/print test_json %}
</p>
{% /tag %}

<script>
setTimeout(
    function() {
    {% #/get test_json %}.v10 = 5

    {% #/notify test_json %}
    
    setTimeout(
        function() {
        {% #set test_json.v7 %}4{% /set %}
        }, 1000);
    }, 1200);
</script>


{% #/def people [{first:'John',last:'Smith',age:40},{first:'Kristen',last:'Perkins',age:27}] %}

{% #tag section %}
You may even render a table using an array of dictionary:
<table>
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Age</th>
</tr>
{% #for person in people %}
{% #tag tr %}
<td>{% #/print person.first %}</td>
<td>{% #/print person.last %}</td>
<td>{% #/print person.age %}</td>
{% /tag %}
{% /for %}
</table>
{% /tag %}

<script>
setTimeout(
    function() {
    {% #/get people %}.push({first:'Marc',last:'Mcdowell',age:58})

    {% #/notify people %}
    }, 1500);
</script>

{% #tag section %}
You can have a tag inside another tag:
Test var array is: {% #/print test_array %}
{% #tag div style="color: red;" %}
Test var value is: {% #/print test_var %}
{% /tag %}
{% /tag %}


{% #/def nested_array [[1,2,3],[11,12,13],[21,22,23]] %}

{% #tag div style="padding-top: 5px;" %}
And also a for inside another for loop:

<ul>
{% #for array in nested_array %}
<li>
The {% #/print array %} is listed:
<ul>
{% #for element in array %}
<li>
{% #/print element %}
</li>
{% /for %}
</ul>
</li>
{% /for %}
</ul>
{% /tag %}

<script>
setTimeout(
    function() {
    {% #set nested_array %}
    [[1,2,3,4],[11,12,13,14],[21,22,23,24],[31,32,33,34]]
    {% /set %}
    }, 1500);
</script>

{% #/def rand_color 'rgb(255,255,255)' %}

{% #tag div style="padding-top: 5px; color:"+rand_color+";" %}
This is text change its color randomally using reactive tag attribute.
{% /tag %}

<script>
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min); //The maximum is exclusive and the minimum is inclusive
}

function changeColorStep() {
    {% #set rand_color %}
    'rgb(' + getRandomInt(0, 255) + ',' + getRandomInt(0, 255) + ',' + getRandomInt(0, 255) + ')'
    {% /set %}
    
    setTimeout(changeColorStep, 1000);
}

setTimeout(changeColorStep, 1000);
</script>

{% #tag div style="padding-top: 5px;" %}
You can also have a keyed for loop:
{% #for element in test_array by element %}
{% #tag p %}
{% #/print element %}
{% /tag %}
{% /for %}
{% /tag %}

{% /block %}
{% /block %}

{% endwith %}

{% endblock %}